.title{

    width:66%;
    position: absolute;
    left: 25.5%;
    right: 20.55%;
    top: 697px;
    bottom: 62.78%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 44px;
    color: #14274A;
    margin-bottom:24px;
    
    }

    div h1{
        position: relative;
        margin-left: 34%;
    }
    