/* The navbar */
.topnav {
  overflow: hidden;
}

/* Navbar links */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 22px;
  padding-right: 22px;
  font-family: Montserrat;
  font-style: normal;
  /* font-weight: normal; */
  font-size: 22px;
  line-height: 21px;
  padding-bottom: 5px;
  color: #ffffff;
}

.topnav a.is-active {
  text-decoration: underline;
}
