.titleTest {
  position: relative;
  left: 41.98%;
  right: 41.93%;
  top: 115px;
  bottom: 19.15%;
  font-family: Adobe Garamond Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  color: #14274a;
  width: 50%;
}

.testPar {
  position: relative;
  left: 29.22%;
  right: 29.22%;
  top: 110px;
  bottom: 17.21%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  width: 50%;
  color: #14274a;
}

.testPar2 {
  position: relative;
  left: 42.29%;
  right: 42.24%;
  top: 101px;
  bottom: 182px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  width: 50%;
  color: #14274a;
}

.parent {
  position: relative;
  top: 0;
  margin-left: 3%;
}

.for_arrow {
  position: relative;
  top: 118px;
  left: 45%;
  height: 30px;
  width: 3%;
}

.for_arrow2 {
  position: relative;
  top: 118px;
  left: 47%;
  height: 30px;
  width: 3%;
}

.right_arrow {
  position: absolute;
  left: 51%;
  margin-top: 122px;
  z-index: 3;
}

.left_arrow {
  position: absolute;
  left: 46%;
  margin-top: 122px;
  z-index: 3;
}
